{% extends 'dashboard/topics/topics_sidepanel.html' %}

{% block sidepanel %}

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header pb-0">
                <h6>{{ language.edit }}</h6>
            </div>

            <div>
                <a href="{{ url_for('topics_list') }}" class="float-end pe-3">
                  <i class="fa fa-times me-sm-1"></i>
                </a>
            </div>

            <div class="card-body p-3">
                <form method="POST" action="{{ url_for('topics_edit', topic_name=topic.topic_name) }}">
                  <label>{{ language.name }}</label>
                  <div class="mb-3">
                    <input
                      id="topic_name"
                      class="form-control"
                      type="text"
                      name="topic_name"
                      value="{{ topic.topic_name }}"
                      disabled
                    >
                  </div>

                  <label>{{ language.order }}</label>
                  <div class="mb-3">
                    <input
                      id="topic_order"
                      class="form-control"
                      type="number"
                      min="1"
                      name="topic_order"
                      value="{{ topic.topic_order }}"
                      oninput="this.value = this.value.replace(/\D/g, '')"
                      required
                      {% if topic.topic_order == 0 or topic.topic_order == 1 %}
                        disabled
                      {% endif %}
                    >
                  </div>

                  <label>{{ language.finetuning }}</label>
                  <div class="form-check form-switch mb-3">
                    <input
                      id="topic_rebuild"
                      class="form-check-input"
                      type="checkbox"
                      name="topic_rebuild"
                      {% if topic.topic_rebuild %}
                        checked
                      {% endif %}
                    >
                  </div>

                  <label>{{ language.system }}</label>
                  <div class="form-check form-switch mb-3">
                    <input
                      id="topic_system"
                      class="form-check-input"
                      type="checkbox"
                      name="topic_system"
                      {% if topic.topic_system %}
                        checked
                      {% endif %}
                    >
                  </div>

                  <label>{{ language.context }}</label>
                  <div class="mb-3">
                    <textarea
                          id="topic_context"
                          class="form-control"
                          name="topic_context"
                          rows="6"
                          required
                    >{{ topic.topic_context }}</textarea>
                  </div>

                  <div class="float-end">
                    <button type="submit" name="topics_edit" class="btn bg-gradient-dark w-100 my-4 mb-2">{{ language.confirm }}</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

{% endblock sidepanel %}