{% extends 'dashboard/behaviors/behaviors_sidepanel.html' %}

{% block sidepanel %}

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header pb-0">
                <h6>{{ language.new }}</h6>
            </div>

            <div>
                <a href="{{ url_for('behaviors_list', business_code=business_code) }}" class="float-end pe-3">
                  <i class="fa fa-times me-sm-1"></i>
                </a>
            </div>

            <div class="card-body p-3">
                <form method="POST" action="{{ url_for('behaviors_new', business_code=business_code) }}">
                  <label>{{ language.code }}</label>
                  <div class="mb-3">
                    <input
                      id="behavior_code"
                      class="form-control"
                      type="text"
                      name="behavior_code"
                      placeholder="{{ language.code }}"
                      maxlength="3"
                      oninput="this.value = this.value.toUpperCase()"
                      required
                    >
                  </div>

                  <label>{{ language.description }}</label>
                  <div class="mb-3">
                    <textarea
                          id="behavior_description"
                          class="form-control"
                          name="behavior_description"
                          rows="6"
                          required
                    ></textarea>
                  </div>

                  <div class="float-end">
                    <button type="submit" name="behaviors_new" class="btn bg-gradient-dark w-100 my-4 mb-2">{{ language.confirm }}</button>
                  </div>
              </form>
            </div>
        </div>
    </div>

{% endblock sidepanel %}