{% extends 'dashboard/users/users_sidepanel.html' %}

{% block sidepanel %}

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header pb-0">
                <h6>{{ language.messages }}</h6>
            </div>

            <div>
                <a href="{{ url_for('users_list') }}" class="float-end pe-3">
                  <i class="fa fa-times me-sm-1"></i>
                </a>
            </div>

            <div class="card-body p-3">
                <div class="chat-body overflow-auto" id="chat-body-container">
                    {% for user_message in user_messages %}
                        {% if user_message.msg_sent != '' %}
                            <div class="user-message">
                                {{ user_message.msg_sent }}
                            </div>
                        {% endif %}

                        {% if user_message.msg_received != '' %}
                            {% if user_message.msg_origin == 'whatsapp' %}
                                <div class="chatbot-message">
                                    {{ user_message.msg_received }}
                                </div>
                            {% else %}
                                {% if user_message.msg_origin == 'web' %}
                                    <div class="chatbot-message-web">
                                        {{ user_message.msg_received }}
                                    </div>
                                {% else %}
                                    <div class="chatbot-message-agent">
                                        {{ user_message.msg_received }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div id="content-container" class="d-flex flex-column align-items-end w-100"></div>
                </div>
            </div>

            <div class="card-body p-3">
                <form method="POST" action="{{ url_for('send_chat') }}">
                  <input type="hidden" id="chat_number" name="chat_number" value="{{ user_number }}" />
                  <input type="hidden" id="chat_whatsapp" name="chat_number" value="{{ user_whatsapp }}" />
                  <div class="mb-3 float-start w-85">
                    <input
                      id="chat_msg"
                      class="form-control"
                      type="text"
                      name="chat_msg"
                      autocomplete="off"
                      autofocus
                    >
                  </div>

                  <div class="mb-3 float-start">
                      <input id="send_chat" name="send_chat" type="image" src="{{ url_for('static', path='img/send.svg') }}" alt="send chat">
                  </div>

                  <div class="mt-n4 float-start">
                    <button id="close_chat"  name="close_chat" type="submit" class="btn bg-gradient-danger w-100 my-4 mb-2">{{ language.closechat }}</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

{% endblock sidepanel %}