
<div class="card">
  <div class="card-header pb-0">
    <div class="row">
      <div class="col-lg-6 col-7">
        <h6>{{ language.petitions }}</h6>
      </div>

      <div class="col-3">
          <div class="container-1">
              <form action="{{ url_for('petitions_list', business_code=business_code) }}" id="searchForm" method="get">
                  <input class="form-control" name="search" type="search" id="search" placeholder="{{ language.search }}..." value="{{ search }}"/>
                  <span class="search-icon"><a href="#" onclick="document.getElementById ('searchForm').submit();"><i class="fa fa-search"></i></a></span>
              </form>
          </div>
      </div>
    </div>
  </div>

  <div class="card-body px-0 pb-2">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.petition }}</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{ language.user }}</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.name }}</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.description }}</th>
            {% if side_panel == 'false' %}
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.step }}</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.datestart }}</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.status }}</th>
            {% endif %}
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
            {% if permission == 'super' %}
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
          {% for item in petitions %}
            <tr>
              <td>
                <div class="d-flex flex-column justify-content-center">
                  <span class="ms-2 text-xs font-weight-bold"> {{ item.petition_number }} </span>
                </div>
              </td>

              <td>
                <div class="avatar-group mt-2">
                  <span class="text-xs font-weight-bold"> {{ item.user_number }} </span>
                </div>
              </td>

              <td>
                <div class="avatar-group mt-2">
                  <span class="text-xs font-weight-bold"> {{ item.petition_name[:col_wide] }} </span>
                </div>
              </td>

              <td>
                <div class="avatar-group mt-2">
                  <span class="text-xs font-weight-bold"> {{ item.petition_request[:col_wide] }} </span>
                </div>
              </td>

              {% if side_panel == 'false' %}
                <td>
                  <div class="avatar-group mt-2">
                    <span class="text-xs font-weight-bold"> {{ item.petition_step }} </span>
                  </div>
                </td>

                <td>
                  <div class="text-center avatar-group mt-2">
                    <span class="text-xs font-weight-bold"> {{ item.petition_date.strftime("%Y-%m-%d %H:%M") }} </span>
                  </div>
                </td>

                <td>
                  <div class="text-center avatar-group mt-2">
                    {% for status in statuses %}
                      {% if status.status_code == item.status_code %}
                        <span class="text-xs font-weight-bold"> {{ status.status_name }} </span>
                      {% endif %}
                    {% endfor %}
                  </div>
                </td>
              {% endif %}

              <td class="align-middle text-center text-sm custom-cell-width">
                <a href="{{ url_for('petitions_view', petition_number=item.petition_number, business_code=business_code) }}" class="nav-link text-body font-weight-bold px-0">
                  <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/General/Visible.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <path d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                          <path d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z" fill="#000000" opacity="0.3"/>
                      </g>
                  </svg><!--end::Svg Icon--></span>
                </a>
              </td>

              {% if permission == 'super' %}
                <td class="align-middle text-center text-sm custom-cell-width">
                  <a href="{{ url_for('petitions_edit', petition_number=item.petition_number, business_code=business_code) }}" class="nav-link text-body font-weight-bold px-0">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"/>
                            <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                            <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                        </g>
                    </svg><!--end::Svg Icon--></span>
                  </a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>