
<div class="card">
	<div class="card-header pb-0">
	  <div class="row">
		<div class="col-lg-6 col-7">
		  <h6>{{ language.businessall }}</h6>
		</div>
	  </div>
	</div>

	<div class="card-body px-0 pb-2">
	  <div class="table-responsive">
		<table class="table align-items-center mb-0">
		  <thead>
			<tr>
			  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.code }}</th>
			  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.name }}</th>
			  {% if side_panel == 'false' %}
				  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.contact }}</th>
				  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.address }}</th>
				  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.email }}</th>
			  {% endif %}
			  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.phone }}</th>
			  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{ language.create }}</th>
			  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
			  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
			  <th class="text-center">
				<a href="{{ url_for('business_new') }}" class="nav-link text-body font-weight-bold px-0">
				  <i class="fa fa-plus-circle me-sm-1"></i>
				</a>
			  </th>
			</tr>
		  </thead>

		  <tbody>
			{% for item in business_all %}
			  <tr>
				<td>
				  <div class="d-flex px-2 py-1">
					<div class="d-flex flex-column justify-content-center">
					  <span class="ms-2 text-xs font-weight-bold"> {{ item.business_code }} </span>
					</div>
				  </div>
				</td>

				<td>
				  <div class="avatar-group mt-2">
					<span class="text-xs font-weight-bold"> {{ item.business_name }} </span>
				  </div>
				</td>

				{% if side_panel == 'false' %}
					<td>
					  <div class="avatar-group mt-2">
						<span class="text-xs font-weight-bold"> {{ item.business_contact }} </span>
					  </div>
					</td>

					<td>
					  <div class="avatar-group mt-2">
						<span class="text-xs font-weight-bold"> {{ item.business_address }} </span>
					  </div>
					</td>

					<td>
					  <div class="avatar-group mt-2">
						<span class="text-xs font-weight-bold"> {{ item.business_email }} </span>
					  </div>
					</td>
				{% endif %}

				<td>
				  <div class="avatar-group mt-2">
					<span class="text-xs font-weight-bold"> {{ item.business_phone }} </span>
				  </div>
				</td>

				<td>
				  <div class="avatar-group mt-2">
					<span class="text-xs font-weight-bold"> {{ item.business_create }} </span>
				  </div>
				</td>

				<td class="align-middle text-center text-sm custom-cell-width">
				  <a href="{{ url_for('business_view', business_id=item.business_code) }}" class="nav-link text-body font-weight-bold px-0">
					<span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/General/Visible.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<path d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
							<path d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z" fill="#000000" opacity="0.3"/>
						</g>
					</svg><!--end::Svg Icon--></span>
				  </a>
				</td>

				<td class="align-middle text-center text-sm custom-cell-width">
				  <a href="{{ url_for('business_edit', business_id=item.business_code) }}" class="nav-link text-body font-weight-bold px-0">
					<span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24"/>
							<path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
							<rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
						</g>
					</svg><!--end::Svg Icon--></span>
				  </a>
				</td>

				<td class="align-middle text-center text-sm custom-cell-width">
				  <a href="{{ url_for('business_delete', business_id=item.business_code) }}" class="nav-link text-body font-weight-bold px-0">
					<span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Home/Trash.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24"/>
							<path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero"/>
							<path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
						</g>
					</svg><!--end::Svg Icon--></span>
				  </a>
				</td>
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
</div>
